<body class="my-body-class">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card class="mat-card">
            <div class="container text-center">
              <div>
                <img
                  src="../../../assets/TEST YOUR SELF LOGO.jpg"
                  alt=""
                  class="logo"
                />
              </div>
            </div>
            <h1 class="text-center">Register Here!!!</h1>

            <form (ngSubmit)="formsubmit()" class="text-center">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  required
                  [(ngModel)]="user.firstName"
                  name="firstName"
                  matInput
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                  required
                  [(ngModel)]="user.lastName"
                  name="lastName"
                  matInput
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input
                  required
                  [(ngModel)]="user.username"
                  name="username"
                  matInput
                />
                <mat-hint>username must be unique !!</mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  required
                  [(ngModel)]="user.password"
                  name="password"
                  matInput
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  required
                  [(ngModel)]="user.email"
                  name="email"
                  matInput
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phone</mat-label>
                <input
                  required
                  [(ngModel)]="user.phone"
                  name="phone"
                  matInput
                />
              </mat-form-field>

              <div class="container text-center">
                <button
                  type="submit"
                  class="button-group-right"
                  mat-raised-button
                  color="primary"
                >
                  Register
                </button>
                <button type="reset" mat-raised-button color="warn">
                  Clear
                </button>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</body>
