<div class="bootstrap-wrapper" *ngIf="!isSubmit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!-- instruction -->
        <mat-card class="mt75">
          <mat-card-content>
            <h3><b>Instructions</b></h3>
            <ul>
              <li>
                Do not try to refresh the page otherwise you will get new
                questions
              </li>
              <li>Please do not switch the tab and minimize the tab</li>
              <li>
                Please do not Inspect the page that will cause termination of
                quiz
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-8">
        <!-- question -->
        <ng-container *ngIf="question">
          <h1 class="mt20">
            On Going Quiz <b>{{ question[0].quiz.title }}</b>
          </h1>
        </ng-container>
        <mat-card *ngFor="let q of question; let i = index" class="mt20">
          <mat-card-content>
            <p>
              <b>Q {{ i + 1 }})</b>
              <span class="ml5" [innerHTML]="q.content"></span>
            </p>

            <mat-divider></mat-divider>
            <br />
            <div class="row">
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option1"
                  [name]="i.toString()"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option1 }}
              </div>
              <div class="col-md-6 mt10">
                <input
                  type="radio"
                  [value]="q.option2"
                  [name]="i.toString()"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option2 }}
              </div>
            </div>
            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option3"
                  [name]="i.toString()"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option3 }}
              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option4"
                  [name]="i.toString()"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option4 }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="container mt20 mb20 text-center">
          <button mat-raised-button color="primary" (click)="submitQuiz()">
            Submit Quiz
          </button>
        </div>
      </div>
      <div class="col-md-2">
        <!-- progress bar -->
        <mat-card class="mt75">
          <mat-card-header>
            <mat-card-title>Progress</mat-card-title>
            <mat-card-subtitle
              >Quiz will autometically submit when it timer reachs
              <b>0:0</b></mat-card-subtitle
            >
          </mat-card-header>
          <h1 class="text-center">{{ getFormatedTime() }}</h1>
          <mat-card-content>
            <mat-spinner
              class="ma mt4"
              mode="determinate"
              [value]="(timer / (question?.length * 2 * 60)) * 100"
            ></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- show the result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="textcenter">Quiz Result</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center"
          ><h1>
            Result of : <b>{{ username }}</b>
          </h1>
          <h1>
            Marks Got : <b> {{ result.marksGot }}</b>
          </h1>
          <h1>
            Correct Answer :<b>{{ result.correctMarks }}</b>
          </h1>
          <h1>
            Question Attempted :<b>{{ result.attempted }}</b>
          </h1></mat-card-content
        >
        <mat-card-actions class="textcenter"
          ><button (click)="printPage()" mat-raised-button color="primary">
            Print
          </button>
          <button
            class="ml10"
            mat-raised-button
            color="primary"
            [routerLink]="'/user/' + '0' + '/' + username"
          >
            Home
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
