<mat-card>
  <h1>Update Profile</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                name="firstName"
                matInput
                placeholder="Enter here"
                [(ngModel)]="user.firstName"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                name="lastName"
                matInput
                placeholder="Enter here"
                [(ngModel)]="user.lastName"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input
                type="text"
                name="phone"
                matInput
                placeholder="Enter here"
                [(ngModel)]="user.phone"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="text"
                name="email"
                matInput
                placeholder="Enter here"
                [(ngModel)]="user.email"
              />
            </mat-form-field>
            <!-- <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="profilePicture"
                name="profilePicture"
                (change)="onFileSelected($event)"
              />
              <label class="custom-file-label" for="profilePicture"
                >Choose file</label
              >
            </div> -->

            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="profilePicture"
                name="profilePicture"
                (change)="onFileSelected($event)"
              />
              <label class="custom-file-label" for="profilePicture"
                >Choose file</label
              >
            </div>

            <div class="container textcenter">
              <button mat-raised-button color="primary" type="submit">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
