<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <mat-card class="mat-card custom-card">
            <img
              src="../../../assets/TEST YOUR SELF LOGO.jpg"
              alt=""
              class="logo"
            />
            <h1 class="text-center">Login Here</h1>
            <!-- {{ loginData | json }} -->
            <form (ngSubmit)="formSubmit()" class="text-center">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input
                  [(ngModel)]="loginData.username"
                  name="username"
                  required="it should not be empty"
                  name="username"
                  matInput
                  username="enter here"
                />
                <mat-hint>valid username</mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  [(ngModel)]="loginData.password"
                  name="password"
                  type="password"
                  required="it should not be empty"
                  matInput
                />
                <mat-icon
                  matSuffix
                  (click)="
                    passwordField =
                      passwordField === 'password' ? 'text' : 'password'
                  "
                >
                  {{
                    passwordField === "password"
                      ? "visibility"
                      : "visibility_off"
                  }}
                </mat-icon>
              </mat-form-field>

              <div class="container text-center">
                <button
                  type="submit"
                  class="button-group-right"
                  mat-raised-button
                  color="primary"
                >
                  Login
                </button>
                <button mat-raised-button color="accent">Clear</button>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
