.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml10 {
    margin-left: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.w100 {
    width: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.textcenter {
    text-align: center;
}

.ml30 {
    margin-left: 30px;
}